*{
    
    font-family: "Corben";
   
    
}

body html{
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
}
body{
    background-image:url("../images/background.png");
    background-size: cover;
}

h1 {
    font-size:3em;
    text-align: center;
    color:#c07436;
}

h2 , h3{
    text-align: center;
    margin-right: 75%;
    
}


.randomPhotos{
    margin-left:25%;
    height: 40em;
    width: 50%;
    border: solid #c07436;
    border-radius: 3%;
   
}

.dogPhoto{
    height: 40em;
    width: 100%;
    border-radius: 3%;
}

input{
    border-radius: 9999px;
    width:25%;
    height: 5em;
    font-size:1em;
    font-weight: bold;
    background-image:url("../images/background.png");
    background-size: cover;
    color: #c07436;
    border-color: #c07436;
    border-style: solid;
}

input:hover{
    
    opacity: 0.8;
}
.newPhoto{
  
    padding-top: 3em;
    padding-left: 43%; 
}

